Build
Dist
Doxygen
Deprecated/PythonClient/dist
TrafficManager/build
Util/Build
Install
Plugins
!Unreal/CarlaUE4/Plugins

/ExportedMaps
/Import/*
!/Import/README.md

.gitignore
*.VC.db
*.VC.opendb
*.a
*.egg-info
*.kdev4
*.log
*.o
*.pb.cc
*.pb.h
*.pid
*.pri
*.pro
*.py[cod]
*.sln
*.so
*.stackdump
*.sublime-workspace
*.workspace
*CodeCompletionFolders.txt
*CodeLitePreProcessor.txt
.aria2c.input
.codelite
.gdb_history
.gtest
.idea
.tags*
.vs
.vscode
__pycache__
_benchmarks_results
_images*
_out*
_site
core
profiler.csv
PythonAPI/capiamoci_custom_carla/*
PythonAPI/filtered_signal_comparison/original_FTPfollowing_KP=0.1_KI=0.01_KD=0.01_dt=0.005.csv
PythonAPI/filtered_signal_comparison/original_FTPfollowing_KP=0.1_KI=0.01_KD=0.01_dt=0.05.csv
PythonAPI/filtered_signal_comparison/original_FTPfollowing_KP=1_KI=0.05_KD=0_dt=0.005.csv
PythonAPI/filtered_signal_comparison/original_FTPfollowing_KP=1_KI=0.05_KD=0.01_dt=0.005.csv
PythonAPI/filtered_signal_comparison/subsampled_FTPfollowing_KP=0.1_KI=0.01_KD=0.01_dt=0.005.csv
PythonAPI/filtered_signal_comparison/subsampled_FTPfollowing_KP=0.1_KI=0.01_KD=0.01_dt=0.05.csv
PythonAPI/filtered_signal_comparison/subsampled_FTPfollowing_KP=1_KI=0.05_KD=0_dt=0.005.csv
PythonAPI/filtered_signal_comparison/subsampled_FTPfollowing_KP=1_KI=0.05_KD=0.01_dt=0.005.csv
PythonAPI/slow_agent/original_FTPfollowing_KP=0.1_KI=0.01_KD=0.01_dt=0.005.csv
PythonAPI/slow_agent/original_FTPfollowing_KP=0.08_KI=0.01_KD=0.01_dt=0.005.csv

PythonAPI/ADSGenerator/test.ipynb
